body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #035e82;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0.3rem;
    font-size: 1.5rem;
}

header a {
    text-decoration: none;
}

h1 a:visited {
    color: white;
}

nav a {
    color: white;
    margin-left: 1.5rem;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1080px;
    padding: 1rem;
    margin: 0 auto;
}

.container h1 {
    margin-bottom: 3rem;
}

.container h2 {
    margin-top: 3rem;
}

li {
    margin-bottom: 1rem;
}